<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rtchat live room</title>
    <meta name="description" content="A WebRTC experiment for peer conferences.">
    <link rel="stylesheet" href="/static/main.css"></link>
    <script type="text/javascript">
    const config = {
        roomID: "{{ .RoomID }}",
        roomCred: "{{ .RoomCredential }}",
        iceServers: [
            {
                urls: "{{ .StunURL }}",
            },
            {
                urls: "{{ .TurnURL }}",
                username: "{{ .Username }}",
                credential: "{{ .Credential }}",
            },
        ],
    }
    </script>
</head>
<body>
    <div class="interface">
        <div class="videos">
            <img class="local videos__peer" src="/static/toopie.png"/>
        </div>
        <div class="messageHistoryArea"> 
            <div class="panel panel-primary"> 
                <div id="chatarea" class="panel-body text-left"></div> 
            </div> 
        </div>
        <div class="inputMessageArea"> 
                <input id="msgInput" type="text" placeholder="message" /> 
                <button id="sendMsgBtn" class="btn-success btn">Send</button> 
        </div>
    </div>
    <script type="text/javascript" src="/static/room.js"></script>
</body>
</html>
